@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

$font-type:'Bree Serif', serif;
$color-primary: #01a3a4;
$color-secondary: #63cdda;
$color-success:#01a3a4; 
$color-happy: #ff9ff3;
$color-happier: #f368e0;
$color-euphoric: #feca57;
$color-moreEuphoric: #ff9f43;
$color-hot: #67e6dc;
$color-hottest: #ee5253;
$color-jade: #00d2d3;
$color-aqua: #0abde3;
$color-background: #d2dae2;
$border-standard: 1px solid $color-primary;